<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Accounts List</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Back to Lists</a>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for items in account_list %}
                <tr>
                    <td>{{ items.name }}</td>
                    <td>{{ items.number}}</td>
                    <td>{{ items.id}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
